
.h-300 {
  height: 300px;
}

.cropperWrapper {
  padding: 2vw;
  width: 96vw;
  .ant-upload-list.ant-upload-list-text {
    display: none;
  }
  .title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .opt-btn {
    margin-left: 10px;
  }
}
.rotateWrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 24px;
    margin: 0;
  }
}
.operateWrapper {
  min-height: 400px;
  // padding: 2vw;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.previewWrapper {
  // flex: 0 0 50%;
  display: inline-block;
  width: 49%;
  height: 100%;
}
.croppedWrapper {
  // flex: 0 0 50%;
  display: inline-block;
  width: 49%;
  height: 100%;
  .croppedImgBox {
    min-height: 300px;
  }
}